header
{
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    
    
}
h1
{
    color: rgba(243, 243, 22, 0.932);
    
}
p{
   text-align: left;
   color: rgb(0, 17, 255);
}
h2{
    color: yellow;
}